<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goal Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/Styles/index.css" />
</head>

<body class="grey lighten-2">
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            <a href="#!" class="navbar-companyName">The Goal Tracker</a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a href="/home" class="nav-header">SIGN IN <i class="material-icons right">account_circle</i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="imgwithtext">
        <img src="/Images/messy_desk.png" alt="">
        <div>
            <h4>Keep all of your goals in one place</h4>
            <h6>The best way to keep all of future plans organized</h6>
            <a class="waves-effect waves-light btn join-now-button" href="/home">Join Now</a>
            <a href="#RTJ">
                <h6 class="underlined">or see all of the reasons to join</h6>
            </a>
        </div>
    </div>

    <div class="cyan darken-4 information" id="RTJ">
        <h1 class="center white-text">Reasons to Join</h1>
    </div>

    <div class="blue-grey darken-4 information row">
        <div class="col s6 container">
            <h3 class="white-text center reasons">Access your goals from anywhere, with access across the cloud</h3>
        </div>
        <div class="col s6 container">
            <h3 class="white-text center large"><i class="material-icons reasons-icon">cloud</i></h3>
        </div>
    </div>

    <div class="white information">
        <div class="container">
            <h3 class="black-text center reasons">A Responsive designs which allows for both Desktop and Mobile Devices</h3>
        </div>
        <div class="carousel carousel-slider" data-indicators="true">
            <a href="#one!" class="carousel-item"><img src="/Images/homepag.png" alt=""></a>
            <a href="#two!" class="carousel-item"><img src="/Images/goal.png" alt=""></a>
            <a href="#three!" class="carousel-item"><img src="/Images/homepag.png" alt=""></a>
            <a href="#four!" class="carousel-item"><img src="/Images/goal.png" alt=""></a>
        </div>
    </div>

    <div class="cyan darken-4 information row">
        <div class="col s6 container">
            <h3 class="white-text center reasons">A way for you to visualize achievements to keep motivation levels up</h3>
        </div>
        <div class="col s6 container">
            <h3 class="white-text center large"><i class="material-icons reasons-icon">insert_chart</i></h3>
        </div>
    </div>

    <footer class="page-footer blue-grey darken-4">
        <ul>
            <li class="footer left">
                <h5>Made by Jack Crowley</h5>
            </li>
            <li class="footer">
                <a href="https://github.com/Jack-Crowley"><img src="/Images/git_logo.png" alt="" width="50"
                        class="right navbar-icon" class="footer-img" /></a>
            </li>
        </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/Scripts/index.js"></script>

</body>

</html>