body {
    margin-top: 20px;
}

.tooltip {
    margin-right: 100px
}

div.col1 {
    height: 1300px;
}

div.folders h1 {
    text-decoration: underline;
    text-align: center;
}

.card {
    width: 45%;
    margin-right: 5%;
    float: left;
    transition: all .07s ease;
}


.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-image span {
    background-color: black;
    border-radius: 50%;
}
.card {
    margin: 1% 2%;
}

.header {
    margin: 30px auto;
}