.navbar-companyName {
    font-size: 2em;
    margin-left: 0.5em;
    font-family: 'Karla';
}

.navbar-icon {
    margin-right: 1em;
}

.row.footer {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    margin:0;
    padding:0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}

div.row {
    margin-bottom: 0;
    padding: 0;
}

footer.page-footer {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.footer-img {
    display: inline;
    margin-right: 3em;
    padding-right: 3em;
}

li.footer {
    display: inline;
}

.nav-header {
    margin-right:0;
}

#nav-mobile.right {
    margin-right: 0;
}

ul#nav-mobile {
    margin:0;
    padding:0;
}